<footer class="footer">
  <div class="footer__name">
    <p>Rebirth Web ©2023</p>
  </div>

  <nav class="footer__nav">
    <ul class="footer__nav__ul">
      <li class="footer__item">
        <a class="footer__link" href="#teamcontainer">Equipo</a>
      </li>
      <li class="footer__item">
        <a class="footer__link" href="#about-us">Quiénes Somos</a>
      </li>
      <li class="footer__item">
        <a class="footer__link" href="./contact.html">Contacto</a>
      </li>
    </ul>
  </nav>

  <div class="footer__img">
    <img class="logo" src="./assets/images/logo-adalab.png" alt="LOGO" />
  </div>
</footer>
