<section>
  <h2 class="about-title">Quiénes Somos</h2>
  <div class="card-container">
    <article class="card">
      <img class="picture" src="./assets/images/photo-Ana.jpg" alt="Foto de Ana.">


      <h3 class="picture-title">Ana Algorri Álvarez</h3>

      <p class="picture-description">Soy de Santander y tengo 27 años. He estudiado un grado en Creación y Diseño y
        un
        máster en Diseño Gráfico
        Digital. Tras varias experiencias laborales decidí iniciarme en el mundo de la programación a través de un
        bootcamp. Ahora, traigo toda mi creatividad y atención al detalle al mundo del desarrollo web.</p>

      <div class="icon-box">
        <ul class="icons">
          <li><a href="#"><i class="icon fa-brands fa-twitter"></i></a></li>
          <li><a href=""><i class="icon fa-brands fa-linkedin-in"></i></a></li>
          <li><a href=""><i class="icon fa-brands fa-github-alt"></i></a></li>
          <li><a href=""><i class="icon fa-solid fa-envelope"></i></a></li>
        </ul>
      </div>
  </div>
  </article>
  <div class="card-container">
    <article class="card">
      <img class="picture" src="./assets/images/photo-Andrea.jpg" alt="Foto de Andrea.">


      <h3 class="picture-title">Andrea Diéguez Garrido</h3>

      <p class="picture-description">Tengo 31 años y vengo de Valladolid. Estudié el Grado en Comercio y un Máster
        de
        Marketing Digital. Por casualidad, el mundo de la programación llegó a mi vida cuando estuve trabajando como
        SEO Content, fue entonces cuando me di cuenta que me gustaba más la programación que el marketing. Ahora he
        decidido apostar por ello gracias al Bootcamp de Adalab.</p>

      <div class="icon-box">
        <ul class="icons">
          <li><a href="#"><i class="icon fa-brands fa-twitter"></i></a></li>
          <li><a href=""><i class="icon fa-brands fa-linkedin-in"></i></a></li>
          <li><a href=""><i class="icon fa-brands fa-github-alt"></i></a></li>
          <li><a href=""><i class="icon fa-solid fa-envelope"></i></a></li>
        </ul>
      </div>
  </div>
  </article>
  <div class="card-container">
    <article class="card">
      <img class="picture" src="./assets/images/photo-cris.jpeg" alt="Foto de Cris.">


      <h3 class="picture-title">Cristina Rodríguez García</h3>

      <p class="picture-description">Soy de Madrid, tengo 32 años. Estudié Historia del Arte, pero he
        descubierto un mundo nuevo en la programación. Aunque parezca muy distante de mi pasión, la composición de
        un
        cuadro tiene bastante relación con la de una página web. No llegaré a ser Velazquez, pero me gustaría ser
        una
        gran developer.</p>

      <div class="icon-box">
        <ul class="icons">
          <li><a href="#"><i class="icon fa-brands fa-twitter"></i></a></li>
          <li><a href=""><i class="icon fa-brands fa-linkedin-in"></i></a></li>
          <li><a href=""><i class="icon fa-brands fa-github-alt"></i></a></li>
          <li><a href=""><i class="icon fa-solid fa-envelope"></i></a></li>
        </ul>
      </div>
  </div>
  </article>

  <div class="card-container">
    <article class="card">
      <img class="picture" src="./assets/images/photo-Raquel.jpg" alt="Foto de Raquel.">
      <h3 class="picture-title">Raquel Collado Herrera</h3>
      <p class="picture-description">Soy de Madrid, tengo 34 años, tengo un grado medio en Gestión administrativa y
        vengo del sector de servicio
        de atención al cliente el cual me permitió desarrollar habilidades esenciales de comunicación.
        Con intenciones de redirigir mi vida laboral inicio un bootcamp de programación web y me he convertido en
        Adalaber. </p>
      <div class="icon-box">
        <ul class="icons">
          <li><a href="#"><i class="icon fa-brands fa-twitter"></i></a></li>
          <li><a href=""><i class="icon fa-brands fa-linkedin-in"></i></a></li>
          <li><a href=""><i class="icon fa-brands fa-github-alt"></i></a></li>
          <li><a href=""><i class="icon fa-solid fa-envelope"></i></a></li>
        </ul>
      </div>
  </div>
  </article>

  <div class="card-container">
    <article class="card">
      <img class="picture" src="./assets/images/photo-Silvia.jpg" alt="Foto de Silvia.">
      <h3 class="picture-title">Silvia Torres Cubero</h3>
      <p class="picture-description">Soy de Barcelona y tengo 30 años.
        Estudié Una FPII de indústrias de la alimentación y después de trabajar varios años cara al público, me
        decidí
        a probar algo diferente para adaptarme a las nuevas necesidades del mundo laboral. </p>
      <div class="icon-box">
        <ul class="icons">
          <li><a href="#"><i class="icon fa-brands fa-twitter"></i></a></li>
          <li><a href=""><i class="icon fa-brands fa-linkedin-in"></i></a></li>
          <li><a href=""><i class="icon fa-brands fa-github-alt"></i></a></li>
          <li><a href=""><i class="icon fa-solid fa-envelope"></i></a></li>
        </ul>
      </div>
  </div>
  </article>

</section>