.header {
    text-transform: uppercase;
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
    left: 0;
    font-family: $font-family-header;
    opacity: 90%;
    color: $white;
      &__name {
        background-color: $blue-green;
        height: 60px;
        padding: 15px;
        font-size: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  .navegation {
    background-color: $aqua;
    font-size: 15px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    &__list{
      color: $white;
    }
  }
  @media all and (min-width: 768px) {
    .header{
      display: flex;
      &__name {
      width: 65%;
      padding-left: 45px;
      align-items: center;justify-content: start;
    }
  }
    .navegation {
      height: 60px;
      width: 120%;
      padding-right: 100px;
      background-color: transparent;
      background-color: $blue-green;
      gap: 10px;
    }
  }
  @media all and (min-width: 1200px){
    .navegation {
      padding-right: 138px;
      padding-left: 45px;
  }
  }
  .footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 250px;
  }
  
  .footer__name {
    font-family: $font-family-cards;
    color: $cool-grey;
    padding-top: 30px;
  }
  
  .footer__nav {
    padding-top: 20px;
    display: flex;
  }
  
  .footer__nav__ul {
    font-family: $font-family-cards;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .footer__item {
    list-style: none;
    text-transform: uppercase;
    justify-content: center;
  }
  
  .footer__link {
    text-decoration: none;
    color: $gunmetal;
  }
  
  .footer__img {
    padding-top: 30px;
  }
  
  .logo {
    height: 45px;
    width: 115.9px;
  }  