.footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 250px;
}

.footer__name {
  font-family: $font-family-cards;
  color: $cool-grey;
  padding-top: 30px;
}

.footer__nav {
  padding-top: 20px;
  display: flex;
}

.footer__nav__ul {
  font-family: $font-family-cards;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__item {
  list-style: none;
  text-transform: uppercase;
  justify-content: center;
}

.footer__link {
  text-decoration: none;
  color: $gunmetal;
}

.footer__img {
  padding-top: 30px;
}

.logo {
  height: 45px;
  width: 115.9px;
}

