ul {
  list-style: none;
  text-decoration: none;
}
.header-menu {
  text-transform: uppercase;
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0;
  left: 0;
  color: $white;
  font-family: $font-family-header;
  opacity: 90%;
}
.name {
  background-color: $blue-green;
  height: 60px;
  padding: 15px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navegation {
  background-color: $aqua;
  font-size: 15px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}