.hero {
    background-image: url(../images/imagen.jpg);
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .lema {
    background-color: $white;
    color: $black;
    font-family: $font-family-header;
    font-weight: 500;
    font-size: 18px;
    padding: 15px 10px;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    z-index: 3;
    transform: translateY(470px);
  }
  .section1 {
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
  }
  .team {
    font-family: $font-family-header;
    font-weight: 500;
    color: $aqua;
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
    padding-top: 50px;
    padding-bottom: 15px;
  }
  .section1 div {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .simbol {
    background-color: $white;
    width: 30px;
    height: 30px;
    position: absolute;
    top: -25px;
    justify-content: center;
    rotate: 45deg;
  }
  .section2 {
    background-color: rgba(74, 72, 72, 0.057);
    text-align: center;
    padding: 20px 15px;
    position: relative;
    display: flex;
    justify-content: center;
  }
  .skills {
    font-family: $font-family-header;
    color: $blue-green;
    font-weight: 500;
    font-size: 22px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .parrafo {
    font-family: $font-family-cards;
    color: $gunmetal;
    font-size: 16px;
    line-height: normal;
    text-align: center;
  }