.hero {
  background-image: url(../images/imagen.jpg);
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  &__lema {
  background-color: $white;
  color: $black;
  font-family: $font-family-header;
  font-weight: 500;
  font-size: 18px;
  padding: 15px 10px;
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
  z-index: 3;
  transform: translateY(470px);
  @media all and (min-width:768px){
    display: flex;
    margin-right: 400px;
    opacity: 0.8;
    margin-left: 45px;
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    transform: translateY(445px)
  }
  @media all and (min-width:1200px){
    margin-right: 488px;
    margin-left: 138px;
  }
}
}
.teamcontainer{
  &__title {
  font-family: $font-family-header;
  font-weight: 500;
  color: $blue-green;
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 50px;
  padding-bottom: px;
  }
  &__text {
    text-align: center;
    font-family: $font-family-cards;
    line-height: normal;
    color: $gunmetal;
    margin-left: 15px;
    margin-right: 15px;
    padding-bottom: 20px;
    @media all and (min-width:768px){
      padding-left: 40px;
      padding-right: 40px;
    }
    @media all and (min-width:1200px){
      padding-left: 300px;
      padding-right: 300px;
    }
  }
}
.container {
  background-color: rgba(74, 72, 72, 0.057);
  text-align: center;
  padding: 20px 15px;
  position: relative;
  display: flex;
  justify-content: center;

  &__square {
    width: 20px;
    height: 20px;
    position: absolute;
    top: -10px;
    justify-content: center;
    rotate: 45deg;
    z-index: 100;
    background-color: $white;
  }

  &__div0{
    &__div1{
    @media (min-width:768px) {
    width: 50%;
    }
  }
  @media (min-width:768px) {
  display: flex;
  gap: 50px;
  }
  }
}

.div2{
@media (min-width:768px){
  width: 50%;
}
}
 .container__name {
  font-family: $font-family-header;
  color: $blue-green;
  font-weight: 500;
  font-size: 22px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}
.container__text {
  font-family: $font-family-cards;
  color: $gunmetal;
  font-size: 16px;
  line-height: normal;
  text-align: center;
}